/* цвет основного текста #212121*/
/* вторичный цвет #757575 */
/*белый #FFFFFF*/
/*акцент #2196F3; #000000; rgba(255, 255, 255, 0.6);*/
/* основной цвет фона #e5e5e5*/
/* вторичный цвет фона #2F303A; #F5F4FA; #FFFFFF */
/* body */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-first: #2196f3;
  --accent-text-second: #000000;
  --accent-text-third: rgba(255, 255, 255, 0.6);
  --primari-background-color: #e5e5e5;
  --title-background-color: #2f303a;
  --acctnt-background-color: #f5f4fa;
  --wite: #ffffff;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color: #212121;);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  padding-inline-start: 0px;
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* body */

.page {
  background-color: var(--primari-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* header */

.header {
  background-color: var(--wite);
}
.header-container,
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid orange;
}
.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
/* logo header */

.logo-header {
  display: inline-block;
  color: var(--accent-text-second);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-top {
  color: var(--accent-text-first);
}
.site-nav,
.contact-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 40px;
}
.site-nav .item {
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-text-first);
}

.nav-link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav-link.current {
  color: var(--accent-text-first);
}
.contact-link {
  display: flex;
  margin-left: auto;
}
.contact-link .item + .item {
  margin-left: 50px;
}
.contact-link .link {
  color: var(--title-text-color);
  text-decoration: none;
}
.contact-link a:hover,
.contact-link a:focus {
  color: var(--accent-text-first);
}
/* hero */
.hero,
.footer {
  background-color: var(--title-background-color);
}
.hero {
  margin-top: 0px;
  margin-bottom: 94px;
  text-align: center;
}
.hero-title,
.hero-button {
  color: var(--wite);
  text-align: center;
}
.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 200px;
}
.hero-button {
  display: inline-block;
  background-color: var(--accent-text-first);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 32px;
  margin-bottom: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
}
/* section */
.section {
  background-color: var(--acctnt-background-color);
}
/* section advantages */
p {
  color: var(--title-text-color);
}
.feature-list {
  display: flex;
}
.advantages {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
/* our-team */
.our-work,
.our-team {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-list {
}
.name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.occupation {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* footer */
.logo-footer,
.contacts-list a {
  color: var(--wite);
  text-decoration: none;
}
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.link {
  color: var(--accent-text-third);
  text-decoration: none;
}
/* Портфолио */
.button-page {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
}
.button-page:hover .button-page:focus {
}
.option-name {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}
